<h1> Advanced Settings </h1>

<div>
		<form action='settings' method='post' class='form1'>
			<label> Your custom messages<textarea name='custom_msgs' class='textarea1' placeholder='my custom message to myself' autofocus><%= cu[:custom_msgs]%></textarea></label>
			<figcaption>enter as many as you like, separated by an enter</figcaption>
			<br/>
			<br/>
			<label> Use your custom messages approximately: </label> <select name="custom_msgs_pct" style='width: 70px'>
				<% [25,50,75,100].each do |num| %>
					<option value=<%=num%> <%= 'selected' if cu[:custom_msgs_pct]==num%>><%=num%>%</option>
				<% end %>
			</select> of the time
			<br/>
			
			<button class='btn btn-info btn-raised'> Update </button>
			<a href='/me' class='btn btn-info btn-raised'> Back </a>
		</form>
</div>