<!DOCTYPE html>
<html>
<%= erb :'layout/doc_head' %>
<body>  
    <%= erb :"layout/flash" %>        
    <div class='top-nav'>
      <a href='/'> mindy </a>      
      <% if cu %> 
        <a href='/logout'> logout </a> 
      <% else %>
        <a href='/login'> login </a>
      <% end %>
    </div>    
    <div class='container'>
      <%= yield %> 
    </div>
    <%#= erb :"footer" %>           
  <link rel="stylesheet" href="/css/fonts/RobotoFonts.css">
  <link rel="stylesheet" href="/css/fonts/MaterialIcons.css">
</body>
</html>
