<!DOCTYPE html>
<html>
<%= erb :'layout/doc_head' %>
<body>  
    <%= erb :"layout/flash" %>        
    <div class='top-nav'>
      <% if _req.path!='/' %>
      <a href='/'> mindy </a>
      <% end %>       
      
      <% if cu %> 
        <a href='/logout'> logout </a> 
      <% else %>
        <!-- <a href='/login'> login </a> -->
      <% end %>
    
    </div>    
    <div class='container'>
      <%= yield %> 
    </div>

    <div style='padding-bottom: 100px'></div>
    <div class='footer'>             
      <a href='/about'> about </a>
      <!-- <a href='/faq'> FAQ </a>
      <a href='/media'> media </a> -->
      <!-- <a href='/terms_of_service'> terms of service </a>
      <a href='/privacy'> privacy </a> -->
      <a href='/contact'> contact </a>
    </div>
    <%#= erb :"footer" %>           
  <link rel="stylesheet" href="/css/fonts/RobotoFonts.css">
  <link rel="stylesheet" href="/css/fonts/MaterialIcons.css">
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-100769576-1', 'auto');
      ga('send', 'pageview');
  </script>
</body>
</html>
