<!DOCTYPE html>
<html>
<%= erb :'layout/doc_head' %>
<body>  
    <%= erb :"layout/flash" %>        
    <div class='top-nav'>
      <% if _req.path!='/' %>
      <a href='/'> mindy </a>
      <% end %>       
      
      <% if cu %> 
        <a href='/logout'> logout </a> 
      <% else %>
        <!-- <a href='/login'> login </a> -->
      <% end %>
    
    </div>    
    <div class='container'>
      <%= yield %> 
    </div>

    <div style='padding-bottom: 100px'></div>
    <div class='footer'>             
      <a href='/about'> about </a>
      <!-- <a href='/faq'> FAQ </a>
      <a href='/media'> media </a> -->
      <a href='/terms_of_service'> terms of service </a>
      <a href='/privacy'> privacy </a>
      <a href='/contact'> contact </a>
    </div>
    <%#= erb :"footer" %>           
  <link rel="stylesheet" href="/css/fonts/RobotoFonts.css">
  <link rel="stylesheet" href="/css/fonts/MaterialIcons.css">
</body>
</html>
