<div>
	<h1> Mindy </h1>
	<h5> Live a better life with positive mindful reminders, driven by AI, Western Science and Eastern Spirituality. </h5>

	<form action='/signup' method='post'>
		<label> Your email: </label> <input placeholder='you@gmail.com' name='email' />
		<br/>
		<button class='btn btn-raised btn-primary'>Sign Up</button>		
	</form>
</div>

