<div>
	<h1> Mindy </h1>
	<h5> Live a better life with AI & science-based mindful reminders. </h5>

	<form action='/signup'>
		<label> Your phone number: </label>
		<div>
			<input placeholder='+1-415-123-4567' name='num' value='123' />
		</div>
		<button class='btn btn-raised btn-primary'>Sign Up</button>
	</form>
</div>
