<style>
</style>
<div class='hp'>
	<h1> Mindy. <span style='display: none; `color: black; font-size:80%; font-weight: 0'> helps you live a better life with mindfulness reminders. </span>	</h1>

	<div class='row mt30'> 
		<h3 class='ib col-md-6 pRelative ct' style='bottom: 6px'> Live a better life with mindfulness reminders. </h3>	
		<div class='col-md-6 ct'>
				<a style='width: 300px' class='btn btn-raised btn-info' href='/signup'> Get Started </a>
				<a style='width: 100px' class='btn btn-info' href='/login'> Login </a>
		</div>
	</div>
	
	<div class='row mt30'>
		<span class='col-md-6 col-sm-12 col-xs-12 ct' style='min-width: 40%; display: inline-block;'>
			<img src='/img/msg_pic.jpg' />	
		</span>
		<span class='col-md-6 col-sm-12 ct' style='min-width: 40%; display: inline-block; vertical-align: top;'>
			<div class='well1'> Mindy sends you reminders that <br/><span class='blue1 bold'>everything is going to be ok.</span></div>
			<div class='well1'> Mindy reminds you to break negative thought cycles, and stay <span class='blue1 bold'>mindful</span> and <span class='blue1 bold'>positive</span>.</div>
			<div class='well1'> Mindy helps you <span class='blue1 bold'>be happy</span> and <span class='blue1 bold'>enjoy life more</span>.</div>
			<div class='well1'> Mindy is free, with no ads.</div>
		</span>
	</div>
	
	<div style='text-align: center'>		
	</div>
</div>

