<h1> Mindy </h1>
<h5> Live a better life with AI & science-based mindful reminders. </h5>

<form action='/signup'>
	<input placeholder='+1-415-123-4567' name='num' value='123' />
	<button>Enter</button>
</form>
