<h1> Login </h1>

<form action='/login' method='post'>
		<label> Your email: </label>
		<div>
			<input placeholder='you@gmail.com' name='email' />
		</div>
		<button class='btn btn-raised btn-info'>Login</button>		
</form>