<h1 class='blue1 superbold'> Sign Up </h1>

<div class='well1'> 1. Sign up with an email, then enter your phone number. </div>
<div class='well1'> 2. Immediately start receiving mindful messages. </div>
<div class='well1'> 3. Become calmer and more relaxed. </div>


<form action='/signup' method='post'>	
		<label class='w200'> Your email </label>
		<input class='signup_input' placeholder='you@gmail.com' name='email' autofocus style='margin-right: 5px'/>
		<button class='btn btn-raised btn-info'>Sign Up</button>		
		<br/>
		<small> We won't send you annoying emails. We're not trying to sell you anything, we're trying to make you happy. <a href='/about'>Read more.</a>  </small>
		<br/>

		
	<br/>
	
</form>