<h1 class='h1'> Mindy - Get Started </h1>
<br/>
<div class='well1'> 1. Sign up with an email, then enter your phone number. </div>
<div class='well1'> 2. Immediately start receiving mindful messages. </div>
<div class='well1'> 3. Take control of your mind; live a calmer and more relaxed life. </div>


<form action='/signup' method='post'>	
		<label class='w200'> Your email </label>
		<input class='input1' placeholder='you@gmail.com' name='email' autofocus style='margin-right: 5px'/>
		<button class='btn btn-raised btn-info'>Sign Up</button>
		<br/>
		<p> We won't send you annoying emails. </p> 
		<p> We're not trying to sell you anything, we're trying to make you happy. <a href='/about'>Read more.</a> </p>
		<p> No commitment, no money, no ads. We run on <a href='/donate'>donations.</a> </p>
		<br/>

		
	<br/>
	
</form>