<h1> About Mindy </h1>

<p> Mindy sends you mindfulness reminders throughout the day.</p>	
<br/>
<p> Mindy's reminders remind you of things you already know, but sometimes forget:</p>
<ul>
	<li>Everything is OK.</li>
	<li>Life is good.</li>
	<li>You should not be stressed.</li>
	<li>You are a good person, and you're doing the right things.</li>
	<li>Everything is going to be just fine.</li>
</ul>
<p> Mindy's reminders work together with your brain; Mindy reminds you, and you internalize the messages.</p>
<p> If you are often stressed, Mindy reminds you to enjoy life and that everything is ok.</p>

<br/>
<p> Mindy's reminders help you maintain a mindful, relaxed mind.</p>
<p> Mindy makes you happier and more relaxed. :)</p>

<br/>
<p> As of <%= Time.now.year %>, Mindy does not cost money, does not show you ads, and is not for profit. </p>
<p> We're not trying to make money, we're trying to create a better world.</p>
