<h1> Contact </h1>

<p> Hi, my name is Sella Rafaeli; I am the main creator and maintainer of Mindy. </p>

<p> Please feel free to reach out to me directly with any feedback or suggestion: <a href="mailto:sella.rafaeli@gmail.com" target="_top">sella.rafaeli@gmail.com</a>.</p>